/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #080808;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Custom styles
   ========================================================================== */

/*******************  CONTAINERS  ***********************************/

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #fff;
}

.container {
    width: 1060px;
    min-height: 100%;
    height: auto;
    margin: 100px auto 30px auto;
    padding-bottom: 50px;
    overflow: hidden;
}

.wrapper {
    width: 640px;
    height: 100%;
    float: left;
    margin-left: 300px;
    padding-bottom: 50px;
}

.sidebar {
    width: 300px;
    background-color: #f7f7f7;
    position: absolute;
    top: 104px;
    left: 0;
}

/******************  TEXT/HEADINGS  ******************************/
body {
    color: #555;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5em;
}

i {
    color: #555;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

h2 {
    font-size: 1.7em;
    font-weight: 400;
}

h3 {
    font-size: 1.4em;
    font-weight: 600;
}

h4 {
    font-size: 1.3em;
    font-weight: 400;
    display: block;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 10px;
}

.page-title {
}

.page-start-text {
    padding-bottom: 20px;
    display: block;
    background: #f7f7f7;
}

/******************  HEADER  ************************************/

.header {
    width: 100%;
    background: #0E90D2;
    color: #fff;
    padding: 10px 0;
}

.header-wrapper {
    width: 1060px;
    margin: 10px auto;
    overflow: hidden;
}

.header h1 {
    font-size: 1.8em;
    #text-shadow: 1px 1px 1px #0059B3;
    display: inline-block;
    margin-right: 20px;
}

.header h2 {
    font-size: 0.9em;
    display: inline-block;
}

#logo-title {
    width: 69%;
    float: left;
}

.social {
    width: 30%;
    float: right;
}

.social {
    #width: 240px;
    #margin: 0 auto 30px auto;
}

.social ul {
    overflow: hidden;
}

.social li {
    list-style: none;
    float: left;
}

.social li:nth-child(n) {
    margin-left: 12px;
}

.social li a {
    border-bottom: none;
}

.social li a > i {
    color: #fff;
}

.social a:hover > i {
    color: #5BC0DE;
}

/******************  NAVIGATION/LINKS/LISTS  **************************/

.nav {
}

.nav ul {
    width: 80%;
    padding-left: 30px;
}

.nav li {
    background: #0E90D2;
    #text-align: center;
}

.nav i {
    color: #fff;
    padding-left: 20px;
}

.nav li a {
    display: block;
    color: #fff;
    padding: 6px 0;
}

.nav li a:hover {
    background: #5BC0DE;
}

a {
    color: #0E90D2;
    text-decoration: none;
    border-bottom: 1px dashed #dfdfdf;
}

a:hover {
    color: #5BC0DE;
}

ul {

}

li {
    list-style: none;
}

.list {
    list-style-type: square;
}

/*****************  SOCIAL  *************************************/

.sidebar-heading {
    text-align: center;
}

/*.sidebar .social {
    width: 240px;
    margin: 0 auto 30px auto;
}

.sidebar .social ul {
    overflow: hidden;
}

.sidebar .social li {
    list-style: none;
    float: left;
}

.sidebar .social li:nth-child(n) {
    margin-left: 12px;
}

.sidebar .social li a {
    border-bottom: none;
}

.sidebar .social li a > i {
    color: #555;
}

.sidebar .social a:hover > i {
    color: #0E90D2;
}
*/
.sidebar .meetup {
    margin: 30px 0;
}

.sidebar #meetup {
  height: 400px;
  width: 280px;
  position: relative;
  overflow: auto;
  line-height: 1em;
  font-size: 0.9em;
  word-wrap: break-word !important;
  background-color: #fff;
  margin: 0 10px;
}

.sidebar #meetup ul {
  width: 100%;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar #meetup li {
  width: 100%;
  overflow: auto;
  border-bottom: 4px solid #f7f7f7;
}

.sidebar .meetup_group_icon {
  float: left;
  max-width: 60px;
  max-height: 60px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin: 10px;
}

.sidebar .meetup_listing_group {
  font-size: 1.3em;
  font-variant: small-caps;
  padding: 6px 0;
  margin: 0;
}

.sidebar .meetup_listing_event_title {
  font-size: 1.1em;
  line-height: 1.3em;
  padding-top: 10px;
  padding-bottom: 4px;
  margin: 0;
}

.sidebar .meetup_event_date {
  line-height: 1.2em;
  padding-left: 10px;
  padding-bottom: 6px;
  margin: 0;
}

.sidebar .meetup_listing_url {
  line-height: 1.2em;
  padding: 0 0 8px 0;
  margin: 6px 0 10px 0;
}

.sidebar .meetup_listing_url a {
  width: 74%;
  float: right;
  display: block;
  font-size: 0.9em;
  text-decoration: none;
  border-bottom: none;
  color: #4d4d4d;
  padding: 0 0 10px 0;
}

/******************  PAGES  *************************************/

/******************  POSTS  *************************************/

.sidebar .recent-posts {
    margin-bottom: 30px;
}

.entry {
    margin-bottom: 50px;
}

.entry-title a {
    #color: #080808;
}

.entry-date {
    display: block;
    width: 320px;
    background-color: #f7f7f7;
    position: relative;
}

.entry-date p {
    padding-left: 10px;
}

.entry-date:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    border: 0.7em solid #f7f7f7;
    right: -2em;
    border-left-width:1.5em;
    border-right-color: transparent;
}

.entry-date p:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

/******************  MEDIA (images, video, icons)  *************************************/

.twitter-feed {
    width: 280px;
    margin-left: 10px;
}

.portrait {
    #float: right;
}

.gallery {
    margin: 30px 0;
    overflow: auto;
}

.gallery-img {
    float: left;
    margin: 10px;
    overflow: hidden;
}

/******************  FOOTER  ************************************/

.footer {
    width: 100%;
    height: 100px;
    clear: both;
    background: #0E90D2;
    font-size: 14px;
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: -40px;
}

.footer i {
    color: #fff;
}

.footer-wrapper {
    width: 760px;
    margin: 20px auto;
    padding-top: 20px;
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}