<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>
        {% block title %}Home{% endblock title %} | {{ config.SITENAME }}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/normalize.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('pygments_css') }}">
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400|Open+Sans:300italic,400italic,600italic,400,600,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/font-awesome.min.css') }}">
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='assets/js/meetup_widget.js') }}"></script>
        <!--Google Analytics-->
        <script type="text/javascript">
        $(document).ready(function() {
            addUpcomingMeetups();
        });//end doc.ready
        </script>
        <script type="text/javascript">    
            var _gaq = _gaq || [];
             _gaq.push(['_setAccount', 'UA-39173881-1']);
             _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
        </script>
    </head>
    <body>
        {% block header %}
            {% include "header.html" %}
        {% endblock header %}

        <div class="container">
        
        {% block sidebar %}
            {% include "sidebar.html" %}
        {% endblock sidebar %}
        
        <div class="wrapper">
        
        {% block content %}
        {% endblock content %}
        
        </div><!--end main content wrapper-->
        </div><!--end container-->
        
        {% block footer %}
            {% include "footer.html" %}
        {% endblock footer %}

    </body>
</html>
