
<div class="header">
	<div class="header-wrapper">
		<div id="logo-title">
			<h1>Diary of a Future Dev</h1>
			<h2>@floraworley blogs code + culture</h2>
		</div><!--end logo-title-->
		<div class="social">
			<ul>
				<li><a href="https://twitter.com/floraworley"><i class="icon-twitter icon-2x"></i></a></li>
				<li><a href="https://github.com/florapdx"><i class="icon-github icon-2x"></i></a></li>
				<li><a href="mailto:pyladies.pdx@gmail.com?subject=Hello, Flora"><i class="icon-envelope-alt icon-2x"></i></a></li>
				<li><a href=""><i class="icon-rss icon-2x"></i></a></li>
			</ul>
		</div><!--end social-->
	</div><!--header-wrapper-->
</div><!--end header-->
