{% extends "base.html" %}

{% block title %}Resources{% endblock title %}

{% block content %}

<h1>Resources</h1>
<strong>General Python Reference</strong>
<ul>
	<li><a href="http://www.python.org">Official Python Language website</a></li>
	<li><a href="http://bit.ly/VWqYJM">Google Python Style Guide</a>: invaluable resource on language and style rules</li>
	<li><a href="http://pythonbooks.revolunet.com">Python Books</a>: tons of open-sourced books on Python</li>
	<li><a href="http://bit.ly/Q0QPxq">Hidden Features of Python:</a> may be out of date, and definitely a next step, but may still be a worthwhile document for exploring Python obscurities</li>
</ul>
&nbsp;

<strong>Courseware</strong>
<ul>
	<li><a href="https://www.coursera.org">Coursera</a>: university courses, some award certificates</li>
	<li><a href="http://learnpythonthehardway.org">Learn Python the Hard Way</a>: 52 exercises to get you going with Python basics</li>
	<li><a href="http://www.codecademy.com">Codecademy</a>: tracks in Python, JavaScript, HTML, Ruby, etc.</li>
	<li><a href="http://www.udacity.com">Udacity</a>: “Introduction to Computer Science” is a popular course, teaching how to build a search engine; there are other courses on offer as well</li>
	<li><a href="https://www.edx.org">EdX</a>: courses from MIT, Harvard, Berkeley, and the UT system</li>
	<li><a href="http://ocw.mit.edu/index.htm">MIT OpenCourseware</a>: variety of courses in Engineering</li>
	<li><a href="http://www.learnpython.org">Learn Python</a>: learn the basics thru advanced topics with this online tutorial</li>
	<li><a href="http://code.google.com/edu/languages/google-python-class/">Google’s Python Class</a>: part of Google’s Code University; video-based</li>
	<li><a href="http://net.tutsplus.com/tutorials/the-best-way-to-learn-python/">“The Best Way to Learn Python”</a>: A Nettuts guide with a list of great links to all kinds of different resources</li>
	<li><a href="https://openhatch.org/wiki/Boston_Python_Workshop_6/Friday">Boston Python Workshop curriculum</a>: same one used at Portland Python Workshop</li>
	<li><a href="http://showmedo.com">ShowMeDo</a>: ugly but honest edu-share site for FOSS community</li>
</ul>
&nbsp;

<strong>Frameworks</strong>
<ul>
	<li><a href="https://www.djangoproject.com">Django</a>: most popular Python web framework</li>
	<li><a href="https://docs.djangoproject.com/en/1.4/intro/tutorial01/">Official Django tutorial</a></li>
	<li><a href="http://learndjango.org">Learn Django</a>: tutorials and resources for Django newbies</li>
	<li><a href="http://www.djangosites.org/with-source/">Django Sites</a>: look at source code from real Django sites</li>
	<li><a href="https://github.com/hjwp/Test-Driven-Django-Tutorial">Test-Driven Development with Django tutorial</a></li>
	<li><a href="https://devcenter.heroku.com/articles/django">Getting Started with Django on Heroku</a></li>
	<li><a href="http://lincolnloop.com/django-best-practices/">Django Best Practices</a>: style tips, as well as how to build, deploy, and maintain a usable app</li>
	<li>Kenneth Love’s <a href="http://gettingstartedwithdjango.com">“Getting Started with Django”</a> series</li>
</ul>
<ul>
	<li><a href=" http://flask.pocoo.org">Flask</a>: a “microframework” for small Python apps</li>
	<li><a href="http://flask.pocoo.org/docs/tutorial">Official Flask tutorial</a></li>
	<li><a href="http://lucumr.pocoo.org/2011/7/19/sqlachemy-and-you/">SQLAlchemy and You</a>: You’ll probably want to read this article on SQLAlchemy before you try Flask</li>
</ul>
<ul>
	<li><a href=" http://pyramid.readthedocs.org/">Pyramid</a>: another popular framework</li>
	<li><a href="http://tastypieapi.org/">Tastypie</a>: RESTful APIs for Django (not a standalone framework like the others, but rather a web service API framework for creating REST-style interfaces)</li>
	<li>A <a href="http://www.ibm.com/developerworks/webservices/library/ws-restful/">good article</a> on the use and importance of REST, for the unfamiliar</li>
</ul>
&nbsp;

<strong>Popular Python Modules</strong>
<ul>
	<li><a href="http://wiki.python.org/moin/UsefulModules">Useful Modules List</a>: not exhaustive, but a list of useful modules geared towards beginners)</li>
	<li><a href="http://pyjs.org">PyJamas</a>: Comprehensive Widget toolkit, P-to-JSc compiler, and AJAX library</li>
	<li><a href="http://numpy.scipy.org">NumPy and SciPy</a>: modules that aid in Math and Science applications; SciPy requires NumPy</li>
	<li><a href="http://pypy.org">PyPy</a>: alternative compiler for CPU-intensive applications</li>
	<li><a href="http://www.crummy.com/software/BeautifulSoup">BeautifulSoup</a>: HTML/XML parser forscraping HTML pages</li>
	<li><a href="http://www.pythonware.com/products/pil">Python Image Library</a>: aids in the processing and manipulation of images</li>
	<li><a href="http://matplotlib.org">Matplotlib</a>: Plotting for 2D graphing and charting</li>
	<li><a href="http://www.pygame.org">PyGame</a>: Game programming</li>
	<li><a href="http://wiki.python.org/moin/Cryptography">Python and Cryptography</a></li>
</ul>
&nbsp;

<strong>￼Getting Involved in OpenSource</strong>

Mostly reference materials; projects in need of contribution will be added in an ad hoc fashion:
<ul>
	<li><a href="http://openhatch.org">OpenHatch</a>: First-stop resource for getting involved in FOSS as a beginner</li>
	<li><a href="http://bit.ly/RoB1Tz">Teaching Open Source</a>: a wealth of information on teaching OpenSource, with some additional information on wading into the FOSS world</li>
	<li>PyLadies LA’s <a href="http://bit.ly/S6XTV0">Barbara Shaurette blogs</a>: “Open Source Contributions Come in All Shapes and Sizes” with links to get involved)</li>
	<li><a href="http://bit.ly/YdehaM">14 Ways to Get Involved in OpenSource</a>...: advice for newer programmers on starting in tickets, bug fixes, documentation, etc.</li>
	<li><a href="https://github.com/jacobian/djangobook.com">Django Book</a>: online Django tutorial needs help updating; writers/editors and experienced Django users apply</li>
	<li>Getting Involved....with <a href="https://code.djangoproject.com/wiki">the Django project itself</a></li>
	<li><a href="http://www.oscon.com/oscon2012/public/schedule/proceedings">Slides</a> from the 2012 Open Source Conference, held in Portland; some inspiration, if nothing else!</li>
	<li><a href="http://code.google.com/opensource/">Google’s open source portal</a></li>
</ul>
&nbsp;

<strong>Git/GitHub/SourceForge</strong>
<ul>
	<li><a href="https://help.github.com">GitHub help</a>: installing git, opening a free GitHub account, choose a client, and learn about how GitHub works</li>
	<li><a href="http://try.github.com/levels/1/challenges/1">Try Git</a>: git/version control basics with a browser-based mock command-line interface; offered through Code School</li>
	<li><a href="http://bit.ly/S4LJwR">“Pam’s Intro to Git with Github”</a>: tutorial focuses on how to use Github to get started with Free and Open Source</li>
	<li><a href="http://gitready.com">Git Ready</a>: Beginner--through--Advanced git tutorials, plus resource list</li>
	<li><a href="http://training.github.com/web/free-classes/">Github's online courses</a>: free online classes offered through GitHub</li>
	<li><a href="http://sourceforge.net/">SourceForge</a>: like GitHub in some ways; lists projects that need help and can be downloaded</li>
	<li><a href="https://bitbucket.org">BitBucket</a>: is much like Github, but offering free private repos as well...</li>
</ul>
&nbsp;

<strong>Get Help</strong>
<ul>
	<li><a href="http://stackoverflow.com">StackOverflow</a>: ask, and you shall receive....answers. And probably some attitude.</li>
</ul>
&nbsp;

&nbsp;

{% endblock content %}