
<div class="sidebar">
	<div class="nav">
		<ul>
            <li><a href="/"><i class="icon-home"></i> Home</a></li>
			<li><a href="/tutorials/"><i class="icon-list-alt"></i> Tutorials</a></li>
			<li><a href="/community/"><i class="icon-beaker"></i> Culture & Community</a></li>
			<li><a href="/events/"><i class="icon-calendar"></i> Events</a></li>
			<li><a href="/resources/"><i class="icon-book"></i> Resources</a></li>
			<li><a href="/about/"><i class="icon-user"></i> About</a></li>
			<li><a href="/portfolio/"><i class="icon-briefcase"></i> Portfolio</a></li>
		</ul>
	</div><!--end nav-->
	<div class="meetup">
		<p class="sidebar-heading">Upcoming Pyladies PDX Meetups</p>
		<div id="meetup">
		</div><!--end id=meetup-->
	</div><!--end class=meetup-->
</div><!--end sidebar-->